New Text Document.txt
[{"id":"227f817e.4cd37e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"53b7430a.06f644","type":"mqtt in","z":"227f817e.4cd37e","name":"Mediciones","topic":"medicion/#","qos":"0","datatype":"utf8","broker":"cb5e789f.c33068","x":90,"y":220,"wires":[["6a33dc6b.0500b4","9a7f3546.71dec8"]]},{"id":"ada6571a.bd9cc8","type":"mqtt in","z":"227f817e.4cd37e","name":"Estado_disp","topic":"estado/#","qos":"0","datatype":"json","broker":"cb5e789f.c33068","x":90,"y":340,"wires":[["dbbbc1c9.8a5ee"]]},{"id":"888a6d0d.c999c8","type":"switch","z":"227f817e.4cd37e","name":"","property":"payload.topic","propertyType":"msg","rules":[{"t":"cont","v":"estado/","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":40,"wires":[[]]},{"id":"83d3749e.3f6ad8","type":"split","z":"227f817e.4cd37e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":40,"wires":[[]]},{"id":"d87aad85.38175","type":"json","z":"227f817e.4cd37e","name":"","property":"payload","action":"","pretty":false,"x":250,"y":40,"wires":[[]]},{"id":"7315ca4.261acb4","type":"inject","z":"227f817e.4cd37e","name":"test","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"\"medicion/0/1\"","payload":"10.2","payloadType":"str","x":90,"y":140,"wires":[[]]},{"id":"78d668e5.be755","type":"change","z":"227f817e.4cd37e","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":40,"wires":[[]]},{"id":"dbbbc1c9.8a5ee","type":"function","z":"227f817e.4cd37e","name":"Separar campos","func":"var full = msg.topic.split(\"/\");\nmsg.topic = full[0];\nmsg.numerodisp = full[1];\nmsg.estado = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":340,"wires":[["648245da.562274","4cf712f4.981124"]]},{"id":"648245da.562274","type":"function","z":"227f817e.4cd37e","name":"Construir Query mySQL","func":"var Estado = msg.estado\nvar Ndisp = msg.numerodisp\nvar Time = Date.now()\n\nif (Estado == '0')\n{\n    //Apagado - fuera de linea\n    Estado = \"0\"\n}\nelse\n{\n    //Encendido - en linea\n    Estado = \"1\"\n}\n\nmsg.topic = \"INSERT INTO estadodispositivo(`estado`, `timetag`, `dispositivo_id`) VALUES ('\"+Estado+\"', '\"+Time+\"', '\"+Ndisp+\"');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[[]]},{"id":"6a33dc6b.0500b4","type":"function","z":"227f817e.4cd37e","name":"Separar campos","func":"var full = msg.topic.split(\"/\");\nmsg.topic = full[0];\nmsg.numerodisp = full[1];\nmsg.tipomedicion = full[2].replace(\"\\\"\", \"\");\nmsg.medicion = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[["8c1ca594.98538","4abe18af.1b68e"]]},{"id":"8c1ca594.98538","type":"function","z":"227f817e.4cd37e","name":"Construir Query mySQL","func":"var topic = msg.topic;\nvar ndisp = msg.numerodisp;\nvar tipo_med = msg.tipomedicion;\nvar valor = msg.medicion;\nvar time = Date.now()\n\n/*\nif (Estado == '0')\n{\n    //Apagado - fuera de linea\n    Estado = \"0\"\n}\nelse\n{\n    //Encendido - en linea\n    Estado = \"1\"\n}\n*/\n\nmsg.topic = \"INSERT INTO medicion(`valor`, `tipo_med_id`, `timetag`, `dispositivo_id`) VALUES ('\"+valor+\"', '\"+tipo_med+\"' , '\"+time+\"', '\"+ndisp+\"');\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[[]]},{"id":"e89e9e9b.d2135","type":"mqtt out","z":"227f817e.4cd37e","name":"Salida MQTT","topic":"","qos":"","retain":"","broker":"cb5e789f.c33068","x":770,"y":560,"wires":[]},{"id":"bf2fdfd2.1ba6c8","type":"inject","z":"227f817e.4cd37e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"accion/1/","payload":"dig/1/ON","payloadType":"str","x":130,"y":560,"wires":[["e89e9e9b.d2135"]]},{"id":"b2192fcd.d38d08","type":"debug","z":"227f817e.4cd37e","name":"todo MQTT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":780,"wires":[]},{"id":"4bc1fb38.2f511c","type":"mqtt in","z":"227f817e.4cd37e","name":"Todo MQTT","topic":"#","qos":"0","datatype":"auto","broker":"cb5e789f.c33068","x":90,"y":780,"wires":[[]]},{"id":"d9c680c1.281f1","type":"mqtt in","z":"227f817e.4cd37e","name":"Accion","topic":"accion/#","qos":"0","datatype":"utf8","broker":"cb5e789f.c33068","x":70,"y":480,"wires":[["5a1f4c0e.e27644"]]},{"id":"8195d1f4.21464","type":"inject","z":"227f817e.4cd37e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"accion/1/","payload":"dig/1/OFF","payloadType":"str","x":130,"y":600,"wires":[["e89e9e9b.d2135"]]},{"id":"d4ab1155.5ba58","type":"inject","z":"227f817e.4cd37e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"accion/1/","payload":"dig/2/ON","payloadType":"str","x":130,"y":640,"wires":[["e89e9e9b.d2135"]]},{"id":"8391a95d.0e4eb8","type":"inject","z":"227f817e.4cd37e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"accion/1/","payload":"dig/2/OFF","payloadType":"str","x":130,"y":680,"wires":[["e89e9e9b.d2135"]]},{"id":"cbc6eb53.0f25c8","type":"influxdb out","z":"227f817e.4cd37e","influxdb":"e61d3339.233578","name":"IOTcasa","measurement":"","precision":"","retentionPolicy":"","database":"Pueba","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":880,"y":280,"wires":[]},{"id":"4abe18af.1b68e","type":"function","z":"227f817e.4cd37e","name":"Construir Query influx","func":"var topic = msg.topic;\nvar ndisp = parseInt(msg.numerodisp);\nvar tipo_med = msg.tipomedicion;\nvar valor = parseFloat(msg.medicion);\n//var time = Date.now()\n\n//Tipo Medicion\nif (tipo_med == '1')\n{\n    msg.measurement = \"TEMP_AMB\";\n}\nif (tipo_med == '2')\n{\n    msg.measurement = \"HUM_AMB\";\n}\nif (tipo_med == '3')\n{\n    msg.measurement = \"HUM_SUELO\";\n}\nif (tipo_med == '4')\n{\n    msg.measurement = \"PRESION_ATMOSF\";\n}\nif (tipo_med == '5')\n{\n    msg.measurement = \"TENSION_ELECT\";\n}\nif (tipo_med == '6')\n{\n    msg.measurement = \"CORRIENTE_ELECT\";\n}\n\n\n\n//Dispositivo que mide\nmsg.payload = \n{\n    disp_id: ndisp,\n    value: valor\n}\n\ndelete msg.topic;\ndelete msg.numerodisp;\ndelete msg.medicion;\ndelete msg.tipomedicion;\n//delete msg._msgid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":260,"wires":[["cbc6eb53.0f25c8"]]},{"id":"c894be0d.fc5638","type":"debug","z":"227f817e.4cd37e","name":"prueba","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":880,"y":220,"wires":[]},{"id":"4cf712f4.981124","type":"function","z":"227f817e.4cd37e","name":"Construir Query influx","func":"var ndisp = parseInt(msg.numerodisp);\nvar estado = msg.estado;\n//var time = Date.now()\n\n\nmsg.measurement = \"ESTADO_DISP\";\nmsg.payload = \n{\n    disp_id: ndisp,\n    value: estado\n}\n\ndelete msg.topic;\ndelete msg.numerodisp;\ndelete msg.estado;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["cbc6eb53.0f25c8"]]},{"id":"9a7f3546.71dec8","type":"function","z":"227f817e.4cd37e","name":"Separar campos","func":"var full = msg.topic.split(\"/\");\nmsg.topic = full[0];\nmsg.ndisp = full[1];\nvar tipoMed = full[2].replace(\"\\\"\", \"\");\nvar valor = msg.payload;\n\n//Borro campos incesarios\ndelete msg.payload;\ndelete msg.topic;\n\n//Tipo Medicion\nif (tipoMed == '1')\n    msg.payload = {\n        TempAmb: valor,\n        nDisp: msg.ndisp\n    };\nif (tipoMed == '2')\n    msg.payload = {\n        HumAmb: valor,\n        nDisp: msg.ndisp\n    };\nif (tipoMed == '3')\n    msg.payload = {\n        HumSuelo: valor,\n        nDisp: msg.ndisp\n    };\nif (tipoMed == '4')\n    msg.payload = {\n        PresAtmos: valor,\n        nDisp: msg.ndisp\n    };\nif (tipoMed == '5')\n    msg.payload = {\n        TensionElect: valor,\n        nDisp: msg.ndisp\n    };\nif (tipoMed == '6')\n    msg.payload = {\n        CorrienteEelect: valor,\n        nDisp: msg.ndisp\n    };\n    \nmsg.measurement = \"medicion\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":140,"wires":[["9433ff80.edc2d8"]]},{"id":"9433ff80.edc2d8","type":"join","z":"227f817e.4cd37e","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"ndisp","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":140,"wires":[["cbc6eb53.0f25c8","c894be0d.fc5638"]]},{"id":"5a1f4c0e.e27644","type":"function","z":"227f817e.4cd37e","name":"Separar campos","func":"var full = msg.topic.split(\"/\");\nmsg.topic = full[0];\nmsg.ndisp = full[1];\nmsg.tipoMed = full[2].replace(\"\\\"\", \"\");\nvar valor = msg.payload;\n\nfull = msg.payload.split(\"/\");\n\n//Borro campos incesarios\ndelete msg.payload;\ndelete msg.topic;\n\nmsg.payload = {\n    nDisp: msg.ndisp,\n    tipoSalida: full[0],\n    nSalida: full[1],\n    orden: full[2]\n};\n    \nmsg.measurement = \"accion\"\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":480,"wires":[["cbc6eb53.0f25c8"]]},{"id":"cb5e789f.c33068","type":"mqtt-broker","name":"IOTCasa","broker":"192.168.0.27","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"TX/temp","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e61d3339.233578","type":"influxdb","hostname":"192.168.0.27","port":"8086","protocol":"http","database":"IOTcasa","name":"IOTcasa","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]